:root {
  background-color: #183059;
}

.return-link {
  background-color: white;
  font-family: 'Consolas', Courier, monospace;
  margin-left: 10px;
  margin-top: 10px;
}

.body {
  margin-top: 2em;
  background-color: #183059;
  max-width: 960px;
  margin: 0 auto;
  font-family: verdana;
}
.grid-container {
  display: grid;
  padding: 10px 0;
  grid-gap: 2em;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  border: 2px outset black;
  border-radius: 5%;
  box-shadow: -10px -10px 20px #af5b5b, 10px 10px 20px black;
  background-color: #af5b5b;
  justify-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px outset grey;
  border-radius: 10px;
  padding-top: 10px;
  width: 200px;
  height: 250px;
  font-size: 20px;
  font-weight: 300;
  background-color: #f6f4f3;
}
.grid-item .fruit {
  margin: auto;
} .grid-item .img {
  max-width: 50%;
}
.header {
  grid-column: 1 / 4;
  width: 90%;
  height: 85%;
}

.shopping-cart {
  grid-column: 1 / 4;
  width: 90%;
  height: 45%;
  padding: 1em;
} .cart-header {
  margin: 0;
} 

.btn{
  border: groove black;
  border-radius: 0px 0px 5px 5px;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
} .btn:hover {
  background-color: rgb(0, 200, 0);
  transition-duration: 0.4s;
  color: black;
  cursor: crosshair;
} .btn:active {
    background-color: lime;
    vertical-align: top;
    border-style: inset;
    padding: 2px;
    transition-duration: 0.1s;
}