body {
  background-color: #272727;
  font-family: Verdana, sans-serif;
  text-align: center;
}
section {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
} .card-body {
  display: flex;
  margin: auto auto 10px;
  flex-direction: column;
  max-width: 100%;
  width: auto;
  height: auto;
  background-color: #fed766;
  border: 2px ridge #009fb7;
  border-radius: 10px;
  box-shadow: 1px 0px 100px 1px;
}

img {
  margin: 0 5px;
  padding: 0;
  max-width: 400px;
  width: auto;
  height: auto;
  object-fit: cover;
  border: 5px ridge #009fb7;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: auto;
  max-width: 50%;
  font-size: 1.5rem;
}

p {
  max-width: 400px;
} .hide {
  display: none;
}

h1 {
  display: inline-block;
  padding: 10px;
  background-color: #fed766;
  border: 2px ridge #009fb7;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
}
