@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--text: #000000;
		--background: #ffffff;
		--primary: #45e85b;
		--secondary: #daddda;
		--accent: #7a7179;
	}
	.dark {
		--text: #ffffff;
		--background: #000000;
		--primary: #17ba2d;
		--secondary: #222522;
		--accent: #8e858d;
	}
}

.react-pdf__Page__canvas {
	@apply border border-accent;
}
