@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #0f100f;
		--background: #f7f8f7;
		--primary: #53fb50;
		--secondary: #eff0f0;
		--accent: #858e8e;
	}
	.dark {
		--text: #eff0ef;
		--background: #070807;
		--primary: #06af04;
		--secondary: #0f1010;
		--accent: #717a7a;
	}
}

.react-pdf__Page__canvas {
	@apply border;
}
