---
---

<div id="background-accent-corners" class="*:border-border-code">
	<div class="w-6 h-6 border-l-2 border-t-2 top-4 left-0 absolute"></div>
	<div class="w-6 h-6 border-r-2 border-t-2 top-4 right-0 absolute"></div>
	<div class="w-6 h-6 border-r-2 border-b-2 bottom-4 right-0 absolute"></div>
	<div class="w-6 h-6 border-l-2 border-b-2 bottom-4 left-0 absolute"></div>
</div>
