---
---

<corner-border id="background-accent-corners" class="*:border-border-code">
	<div class="size absolute border-l-2 border-t-2 top-4 left-0"></div>
	<div class="size absolute border-r-2 border-t-2 top-4 right-0"></div>
	<div class="size absolute border-r-2 border-b-2 bottom-4 right-0"></div>
	<div class="size absolute border-l-2 border-b-2 bottom-4 left-0"></div>
</corner-border>

<style>
	.size {
		width: 1.5rem;
		height: 1.5rem;
	}
</style>
