---


---


<section class="mb-8">
	<div class="my-24">
		<h1
			class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
		>
			<span
				class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
			>
				Karol Olechno
			</span>
		</h1>
		<div
			class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
		>
			<a
				class="unset ml-8 hover:text-text-link"
				href="https://github.com/ko-karol"
			>
				<i
					class="fa-brands fa-github"
					aria-hidden="true"
					title="Karol on GitHub"></i>
				<span>GitHub</span>
			</a>
			<a
				class="unset ml-8 hover:text-text-link"
				href="/Karol_Olechno_resume.pdf"
			>
				<i class="fa-regular fa-file" aria-hidden="true" title="Karol's Resume"
				></i>
				<span>Resume</span>
			</a>
		</div>
		<p class="text-2xl py-4">
			Craftsmanship through code code <strong class="text-text-emphasis">code</strong>
			and
			<strong class="text-text-mphasis">design</strong>.
		</p>
	</div>
</section>
